/* Google Fonts - Auto-loaded for vue-website-page-builder */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');

@tailwind components;
@tailwind utilities;
@layer components {
  /*
    |--------------------------------------------------------------------------
    | Widgets
    |--------------------------------------------------------------------------
    */
  .pbx-myPrimaryWidget {
    @apply py-8 px-4 border border-myPrimaryLightGrayColor rounded-md bg-white;
  }

  /*
    |--------------------------------------------------------------------------
    | Modules
    |--------------------------------------------------------------------------
    */
  .pbx-myModulePyMargin {
    @apply md:mb-0 mb-0;
  }
  .pbx-myModulePadding {
    @apply md:py-28 py-16;
  }

  .pbx-myPrimaryWidthScreenModule {
    @apply pbx-myModulePyMargin pbx-myModulePadding;
  }
  .pbx-myPrimaryModule {
    @apply max-w-7xl mx-auto pbx-myModulePyMargin pbx-myModulePadding;
  }
  .pbx-myPrimaryContentSection {
    @apply max-w-7xl mx-auto md:px-4 px-4 lg:pb-10 md:pb-8 pb-6;
  }

  /*
    |--------------------------------------------------------------------------
    | Helpers
    |--------------------------------------------------------------------------
    */
  .pbx-myPrimarySection {
    @apply lg:pb-8 lg:pt-20 md:py-8 py-8;
  }

  .pbx-myPrimaryWarningAlertMessage {
    @apply pbx-myPrimarySection pbx-myTertiaryHeader text-yellow-400 text-center;
  }
  .pbx-myFocus {
    @apply focus-within:border-2 focus-within:border-myPrimaryBrandColor;
  }
  .pbx-myActiveLinkColor {
    @apply text-myPrimaryBrandColor;
  }

  /*
    |--------------------------------------------------------------------------
    | Tags
    |--------------------------------------------------------------------------
    */
  .pbx-myPrimaryTag {
    @apply min-h-[3rem] my-2 px-3 py-2
            text-xs break-all 
            inline-flex gap-1 items-center justify-center 
            rounded-full border border-transparent
            text-myPrimaryDarkGrayColor bg-myPrimaryLightMediumGrayColor 
            sm:w-auto shadow-sm hover:shadow;
  }
  /*
    |--------------------------------------------------------------------------
    | Thumbnail
    |--------------------------------------------------------------------------
    */
  .pbx-myPrimarythumbnailLogo {
    @apply mx-auto block mt-2 mb-6 w-40 transition-all rounded-md object-cover cursor-pointer;
  }
  .pbx-myPrimarythumbnailInsertPreview {
    @apply block md:h-16 md:w-16 h-16 w-16 hover:shadow-sm transition-all cursor-pointer rounded-full object-cover;
  }
  /*
    |--------------------------------------------------------------------------
    | Primary paragraphs
    |--------------------------------------------------------------------------
    */
  .pbx-myPrimaryParagraph {
    @apply font-normal text-myPrimaryDarkGrayColor lg:text-base text-sm;
  }

  .pbx-myPrimaryParagraphError {
    @apply pbx-myPrimaryParagraph mt-1 italic text-myPrimaryErrorColor text-sm;
  }

  /*
    |--------------------------------------------------------------------------
    | Headers
    |--------------------------------------------------------------------------
    */
  .pbx-myPrimaryHeader {
    @apply lg:text-7xl md:text-6xl text-5xl font-medium break-words lg:mb-8 md:mb-4 mb-2 text-myPrimaryDarkGrayColor;
  }

  .pbx-mySecondaryHeader {
    @apply font-['Cormorant'] font-medium break-words lg:text-5xl md:text-4xl text-3xl lg:mb-8 md:mb-4 mb-2 text-myPrimaryDarkGrayColor;
  }

  .pbx-myTertiaryHeader {
    @apply font-medium break-words lg:text-3xl md:text-2xl text-2xl lg:mb-8 md:mb-4 mb-2 text-myPrimaryDarkGrayColor;
  }

  .pbx-myQuaternaryHeader {
    @apply font-medium break-words lg:text-xl md:text-lg text-base lg:mb-4 md:mb-2 mb-2 text-myPrimaryDarkGrayColor;
  }

  /*
    |--------------------------------------------------------------------------
    | Links
    |--------------------------------------------------------------------------
    */
  .pbx-myPrimaryLink {
    @apply text-myPrimaryLinkColor 
            focus:outline-none
            focus:ring-0 focus:ring-myPrimaryLinkColor
            focus-visible:ring-0 focus-visible:ring-myPrimaryLinkColor cursor-pointer;
  }

  .pbx-myPrimaryActiveLink {
    @apply text-red-600 text-sm
            focus:outline-none
            focus:ring-0 focus:ring-red-500
            focus-visible:ring-0 focus-visible:ring-red-500;
  }

  /*
    |--------------------------------------------------------------------------
    | Buttons
    |--------------------------------------------------------------------------
    */
  .pbx-myPrimaryMenuTextButton {
    @apply lg:flex lg:gap-2 lg:items-center focus:outline-none cursor-pointer rounded-full px-1.5 py-1.5 font-medium;
  }
  .pbx-myRadio {
    @apply w-5 h-5 text-myPrimaryBrandColor bg-myPrimaryLightGrayColor border-gray-300 focus:ring-myPrimaryBrandColor dark:focus:ring-myPrimaryBrandColor dark:ring-offset-gray-800 focus:ring-2 dark:bg-myPrimaryDarkGrayColor dark:border-gray-600;
  }

  .pbx-myPrimaryButton {
    @apply min-h-[3rem] lg:px-4 lg:py-3 px-3 py-3 font-sans 
            sm:text-sm text-xs whitespace-nowrap break-keep font-medium inline-flex gap-1 items-center justify-center rounded-full border border-transparent bg-myPrimaryLinkColor text-white shadow-sm hover:bg-myPrimaryLinkColor sm:w-auto
            focus:outline-none focus:ring-2 focus:ring-myPrimaryLinkColor focus:ring-offset-2
            focus-visible:ring-2 focus-visible:ring-myPrimaryLinkColor cursor-pointer;
  }

  .pbx-mySecondaryButton {
    @apply pbx-myPrimaryButton bg-myPrimaryLightMediumGrayColor hover:bg-myPrimaryLightMediumGrayColor hover:bg-opacity-90 focus:ring-myPrimaryLightGrayColor text-myPrimaryDarkGrayColor hover:text-myPrimaryDarkGrayColor shadow-sm;
  }

  .pbx-myPrimaryDeleteButton {
    @apply pbx-myPrimaryButton bg-myPrimaryErrorColor hover:bg-myPrimaryErrorColor focus:ring-myPrimaryErrorColor;
  }

  .pbx-myPrimaryToggleButton {
    @apply w-full inline-flex items-center justify-center px-4 py-2 sm:text-sm text-sm font-semibold text-myPrimaryDarkGrayColor shadow-sm focus:outline-none focus:ring-2 focus:ring-myPrimaryBrandColor focus:ring-offset-2 bg-myPrimaryLightGrayColor hover:bg-myPrimaryBrandColor hover:text-white;
  }
  /*
    |--------------------------------------------------------------------------
    | Buttons With no background
    |--------------------------------------------------------------------------
    */
  .pbx-myPrimaryButtonNoBackground {
    @apply pbx-myPrimaryParagraph font-medium text-myPrimaryBrandColor font-sans
            focus:outline-none cursor-pointer;
  }
  /*
    |--------------------------------------------------------------------------
    | Icons
    |--------------------------------------------------------------------------
    */
  .pbx-mySmallIcon {
    @apply shrink-0 h-4 w-4 m-2 stroke-[1.5px] flex justify-center items-center;
  }
  .pbx-myMediumIcon {
    @apply shrink-0 h-6 w-6 stroke-[1.5px] flex justify-center items-center;
  }

  /*
    |--------------------------------------------------------------------------
    | Tables
    |--------------------------------------------------------------------------
    */
  .pbx-myTableContainerPlusScrollButton {
    @apply relative p-2 border-gray-400 border rounded;
  }
  .pbx-myScrollButtonContainer {
    @apply sticky z-10 h-12 top-16 left-0 right-0 flex items-center justify-center pbx-myPrimaryGap bg-myPrimaryLightGrayColor bg-opacity-50;
  }
  .pbx-myTableContainer {
    @apply overflow-x-auto pbx-myPrimarySection py-0 px-0;
  }
  .pbx-myTableSubContainer {
    @apply min-w-full align-middle;
  }
  .pbx-myPrimaryTable {
    @apply text-sm divide-y divide-myPrimaryLightGrayColor table-fixed min-w-full text-left mb-20;
  }
  .pbx-myPrimaryTableCaption {
    @apply bg-white pbx-myPrimaryParagraph py-4;
  }
  .pbx-myPrimaryTableTHead {
    @apply bg-gray-50;
  }
  .pbx-myPrimaryTableTr {
    @apply divide-x divide-gray-300;
  }
  .pbx-myPrimaryTableTh {
    @apply px-6 py-4 font-normal text-gray-900;
  }
  .pbx-myPrimaryTableTBody {
    @apply divide-y divide-gray-100 border-t border-gray-100 bg-white;
  }
  .pbx-myPrimaryTableTBodyTr {
    @apply divide-x pbx-myPrimaryParagraph bg-white hover:bg-red-50;
  }
  .pbx-myPrimaryTableTBodyTd {
    @apply px-6 py-4 whitespace-pre pbx-myPrimaryParagraph;
  }
  .pbx-myPrimaryResourceTableBodyTdTitle {
    @apply whitespace-normal;
  }

  /*
    |--------------------------------------------------------------------------
    | Grid
    |--------------------------------------------------------------------------
    */
  .pbx-myPrimaryGap {
    @apply gap-4;
  }

  /*
    |--------------------------------------------------------------------------
    | Breadcrumbs
    |--------------------------------------------------------------------------
    */
  .pbx-myBreadcrumbsContainer {
    @apply flex items-center justify-start gap-1 py-2 pl-4 pr-2 font-medium;
  }

  /*
    |--------------------------------------------------------------------------
    | Search Bars
    |--------------------------------------------------------------------------
    */
  .pbx-mysearchBarWithOptions {
    @apply flex gap-2 pl-4 rounded-full border border-gray-200 bg-myPrimaryLightGrayColor;
  }

  .pbx-myPrimarySearchInput {
    @apply pbx-myPrimaryInput text-sm py-4 border-none outline-none pl-10 h-full bg-transparent focus:ring-0 focus:ring-offset-0 focus:border-none focus:bg-transparent focus:outline-none shadow-none;
  }

  .pbx-myPrimarySearchButton {
    @apply pbx-myPrimaryButton m-1;
  }

  /*
    |--------------------------------------------------------------------------
    | Forms
    |--------------------------------------------------------------------------
    */
  .pbx-myPrimaryFormWithActions {
    @apply flex flex-col pbx-myPrimaryGap px-2 rounded md:pb-4;
  }
  .pbx-myPrimaryContentLayout {
    @apply flex flex-col pbx-myPrimaryGap md:flex md:flex-row;
  }
  .pbx-myPrimaryFormTitleDescription {
    @apply flex flex-col w-full;
  }
  .pbx-myPrimaryFormMain {
    @apply flex flex-col pbx-myPrimaryGap md:w-8/12;
  }
  .pbx-myPrimaryFormSidebar {
    @apply flex flex-col pbx-myPrimaryGap md:w-4/12;
  }
  .pbx-myPrimaryActions {
    @apply px-4 py-6 rounded bg-myPrimaryLightGrayColor shadow-sm;
  }

  .pbx-myInputsOrganization {
    @apply px-4 pt-4 pb-4 bg-white rounded-lg border border-gray-200;
  }

  .pbx-myPrimaryFormOrganizationHeaderDescriptionSection {
    @apply mb-4;
  }
  .pbx-myPrimaryFormOrganizationHeader {
    @apply pbx-myQuaternaryHeader m-0 pt-4;
  }

  .pbx-myInputsFamily {
    @apply flex items-center pbx-myPrimaryGap;
  }

  .pbx-myInputGroup {
    @apply w-full self-start mb-2 px-2;
  }
  .pbx-myDoActionButtonSection {
    @apply px-4 py-4 border border-myPrimaryLightGrayColor rounded sm:px-6 text-right mt-1 bg-gray-50;
  }

  .pbx-myPrimaryInputLabel {
    @apply my-0 block text-sm font-normal text-myPrimaryDarkGrayColor text-left mb-2;
  }

  .pbx-myPrimaryInput {
    @apply w-full font-sans;
  }

  .pbx-myPrimaryInputError {
    @apply mt-1 pbx-myPrimaryParagraph block font-normal text-myPrimaryErrorColor text-left text-sm;
  }

  .pbx-myPrimaryTextArea {
    @apply block w-full sm:text-sm font-normal text-myPrimaryDarkGrayColor placeholder:font-normal placeholder:accent-gray-400 bg-gray-50 focus:bg-white rounded-md py-3 px-3 border border-gray-300 shadow-sm focus:outline-none focus:ring-2 focus:ring-myPrimaryLinkColor focus:border-transparent;
  }

  .pbx-myPrimaryCheckbox {
    @apply focus:ring-myPrimaryBrandColor h-5 w-5 text-myPrimaryBrandColor border-gray-400 rounded-md;
  }

  .pbx-myPrimarySelect {
    @apply pbx-myPrimaryInput;
  }
  .pbx-myPrimaryFakeSelect {
    @apply hover:ring-myPrimaryLinkColor border border-gray-300 flex flex-row justify-between items-center pbx-myPrimaryGap py-2.5 pl-3 pr-1 cursor-pointer hover:border-transparent hover:ring-2 rounded-md;
  }
  .pbx-myPrimaryFakeSelectNoHover {
    @apply pbx-myPrimaryFakeSelect focus:outline-none focus:border-transparent hover:border-transparent;
  }

  .pbx-myPrimaryColorPreview {
    @apply aspect-square border border-gray-200 cursor-pointer min-h-[1.5rem] rounded-sm;
  }
}

#pbxEditToolbar {
  opacity: 0;
  pointer-events: none;
  transform: translateY(0.1rem) scale(0.1);
  transition:
    left 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    top 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    min-width 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    width 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    height 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

#pbxEditToolbar.is-visible {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0) scale(1);
  min-width: 4rem;
  padding-right: 2px;
  padding-left: 2px;
  height: 1.5rem;
  background: #fff; /* white background */
  /* white outline first, then black border simulated as shadow */
  box-shadow:
    0 0 0 10px #fff,
    /* white outline */ 0 0 0 12px #f8f8f8; /* black border outside */
}

/* CSS for content inside page builder # start */
#pagebuilder {
  position: relative;
  min-height: fit-content;
}

/* Use #page-builder-wrapper ID in order for the "select video" button not to apear in production*/
#page-builder-wrapper #youtube-video::before {
  content: 'Select Video Element';
  font-family: 'Jost';
  background: #16a34a !important;
  color: white;
  text-decoration: none;
  margin-right: 8px;
  vertical-align: middle;
  min-height: 3rem;
  padding: 0.75rem 0.75rem;
  white-space: nowrap;
  word-break: keep-all;
  font-weight: 500;
  display: inline-flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  border: 1px solid transparent;
  margin-bottom: 20px;
  font-size: 0.8rem !important;
}

@media (min-width: 640px) {
  #pagebuilder #youtube-video::before {
    font-size: 0.9rem !important;
    width: auto;
  }
}

#pagebuilder #youtube-video:hover::before {
  text-decoration: none;
  cursor: pointer;
}

#pagebuilder a {
  color: inherit;
  text-decoration: none;
}

#page-builder-editor a,
#pagebuilder a {
  text-decoration: underline;
}

#linktree a {
  text-decoration: none !important;
  cursor: pointer;
  display: block;
  padding: 18px 14px;
}

.pbx-reorder-highlight {
  animation: pbx-reorder-flash 0.4s ease-in-out;
}

@keyframes pbx-reorder-flash {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.8);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.pbx-sibling-highlight {
}

.pbx-myPrimaryInput,
.pbx-myPrimarySelect {
  box-sizing: border-box;
  border: 1px solid #e9e9e9;
  padding: 0.40625rem 0.625rem;
  font-size: 0.875rem;
  border-radius: 0.5rem;
  cursor: pointer;
  line-height: 1.5;
  font-weight: normal;
}

.pbx-myPrimarySelect {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.292893 0.792893C0.683417 0.402369 1.31658 0.402369 1.70711 0.792893L4 3.08579L6.29289 0.792893C6.68342 0.402369 7.31658 0.402369 7.70711 0.792893C8.09763 1.18342 8.09763 1.81658 7.70711 2.20711L4.70711 5.20711C4.31658 5.59763 3.68342 5.59763 3.29289 5.20711L0.292893 2.20711C-0.0976311 1.81658 -0.0976311 1.18342 0.292893 0.792893Z' fill='%2335261C' fill-opacity='0.3'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.625rem center;
  background-size: 0.5rem;
}

.pbx-myPrimaryInput:focus,
.pbx-myPrimarySelect:focus {
  --tw-ring-inset: inset;
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(22, 163, 74, var(--tw-ring-opacity, 1));
  --tw-ring-shadow: 0 0 0 4px var(--tw-ring-color);
  --tw-ring-offset-width: 2px;
  --tw-ring-offset-color: white;
  --tw-ring-offset-shadow: 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow);
  border: 1px #dee6f0 solid;
}

.pbx-myPrimaryInput:focus-visible,
.pbx-myPrimarySelect:focus-visible {
  outline: none;
}

#pagebuilder-right-menu hr {
  border: none;
  height: 1px;
  background: oklch(93.6% 0.032 17.717);
  box-shadow: oklch(93.6% 0.032 17.717);
}

#page-builder-editor ol,
#pagebuilder ol,
#page-builder-editor ul,
#pagebuilder ul {
  list-style: disc !important;
  padding: 1rem 0 0 1.4rem;
  margin-left: 1em;
  line-height: 2rem;
}

.pbx-headless-dropdown {
  list-style: none;
  padding: 0;
}

/* Page Builder Reset Default Browser Styles Start*/
#pagebuilder input,
#pagebuilder button,
#pagebuilder textarea,
#pagebuilder select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
#pagebuilder blockquote,
#pagebuilder dl,
#pagebuilder dd,
#pagebuilder pre,
#pagebuilder hr,
#pagebuilder figure,
#pagebuilder p,
#pagebuilder h1,
#pagebuilder h2,
#pagebuilder h3,
#pagebuilder h4,
#pagebuilder h5,
#pagebuilder h6,
#pagebuilder ul,
#pagebuilder ol,
#pagebuilder li {
  margin: 0;
  font-weight: inherit;
}

#pagebuilder input,
#pagebuilder button,
#pagebuilder textarea,
#pagebuilder select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

#pagebuilder img {
  max-width: 100%;
  height: auto;
  display: block;
}

#page-builder-editor strong,
#pagebuilder strong {
  font: inherit;
  font-weight: 500;
}

#pagebuilder code,
#pagebuilder pre,
#pagebuilder em {
  font: inherit;
  font-weight: inherit;
}
/* Page Builder Reset Default Browser Styles End*/

#pagebuilder hr,
#pbx-modal hr {
  border: none; /* remove default border */
  border-top: 1px solid oklch(92.8% 0.006 264.531); /* match Tailwind border-gray-200 */
  margin: 1rem 0; /* optional spacing */
}

::-webkit-scrollbar {
  height: 2px; /* horizontal scrollbar height */
}

::-webkit-scrollbar-track {
  background: transparent; /* or a color */
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar {
  width: 8px; /* vertical */
  height: 8px; /* horizontal */
}
